.App {
  text-align: center;
}

.allbtn{
  display: flex;
  flex-direction: row;
  text-align: center;
  max-height: 15vh;
  justify-content: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  /* background-color: #e5e5f7;
  background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#101011 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #4e4e4e 2px, #e5e5f7 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
